[Unit]
Description=Modifies /etc/environment for CoreOS
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/coreos-setup-environment /etc/environment

[Install]
WantedBy=multi-user.target
