[Unit]
Description=etcd
Requires=coreos-setup-environment.service
After=coreos-setup-environment.service

[Service]
Environment="ETCD_PEER_ELECTION_TIMEOUT=5000"
Environment="ETCD_PEER_HEARTBEAT_INTERVAL=1000"
User=etcd
PermissionsStartOnly=true
EnvironmentFile=/etc/environment
Environment=ETCD_DATA_DIR=/var/lib/etcd
ExecStart=/usr/bin/etcd -addr=${COREOS_PUBLIC_IPV4}:4001 -peer-addr=${COREOS_PUBLIC_IPV4}:7001 -name=%m
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target

