[Unit]
Description=fleet
Wants=etcd.service
After=etcd.service

[Service]
Environment="FLEET_ETCD_REQUEST_TIMEOUT=5" "FLEET_VERBOSITY=2"
ExecStart=/usr/bin/fleetd -config /etc/fleet/fleet.conf

[Install]
WantedBy=multi-user.target
